[Unit]
Description=Scrumblr is a software to take note.
After=syslog.target
After=network.target

[Service]
Type=simple
User=scrumblr
Group=scrumblr
WorkingDirectory=/var/www/scrumblr
ExecStart=node server.js --port 85
Restart=always
Environment=USER=scrumblr HOME=/var/www/scrumblr

[Install]
WantedBy=multi-user.target
