[Unit]
Description=Redis service for scrumblr app.
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=/usr/bin/redis-server __FINALPATH__/redis.conf 
ExecStop=/bin/kill -s TERM $MAINPID
PIDFile=__FINALPATH__/redis-server-__PORT__.pid
TimeoutStopSec=0
Restart=always

UMask=007
PrivateTmp=yes
LimitNOFILE=65535
PrivateDevices=yes
ProtectHome=yes
#ReadOnlyDirectories=/
ReadWriteDirectories=-/var/lib/__APP__
ReadWriteDirectories=-/var/log/__APP__
ReadWriteDirectories=-__FINALPATH__

NoNewPrivileges=true
CapabilityBoundingSet=CAP_SETGID CAP_SETUID CAP_SYS_RESOURCE
MemoryDenyWriteExecute=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictNamespaces=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX



[Install]
WantedBy=multi-user.target
