[Unit]
Description=Scrumblr is a software to take note.
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/scrumblr
ExecStart=/usr/bin/node server.js --port 85
Restart=always
Environment=USER=scrumblr HOME=/var/www/scrumblr

[Install]
WantedBy=multi-user.target
